<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>User Table</title>
        {% load static %}
        <link href="{% static 'myapp/style.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'myapp/script.js' %}" type="text/javascript">
        </script>
    </head>
    <body>
        <h1>List Of Users</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Tel</th>
                <th>Date</th>
                <th>Execute</th>
            </tr>
            {% for u in userlist%}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.age }}</td>
                <td>{{ u.phone }}</td>
                <td>{{ u.addtime }}</td>
                <td><a href="#">Edit</a> <a href="#">Delete</a></td>
            </tr>
            {% endfor%}
        </table>
    </body>
</html>